<div class="row container" ng-controler="evidController">
	<section id="cd-timeline">
		<div ng-click="goEvidence()" class="cd-timeline-block">
			<div class="cd-timeline-img">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<ul class="collection collapsible" data-collapsible="accordion">
					<li class="collection-item avatar">
						<i class="material-icons circle">person</i>
						<span class="title">Name</span>
						<p>Description</p>
					</li>
				</ul>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
		<div class="cd-timeline-block">
			<div class="cd-timeline-img">
			</div> <!-- cd-timeline-img -->
			<div class="cd-timeline-content">
			<ul class="collection collapsible" data-collapsible="accordion">
					<li class="collection-item avatar">
						<i class="material-icons circle">person</i>
						<span class="title">Name</span>
						<p>Description</p>
					</li>
				</ul>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
	</section>
</div>
<footer>
	<a href="#/veredict" class="waves-effect gveredict waves-light btn">GIVE A VEREDICT</a>
</footer>
