<nav>
	<div class="container">
		<a href="#!" class="brand-logo">Crowdjuty Demo {{version}}</a>
		<ul class="right">
			<li><a href="#"><i class="material-icons">search</i></a></li>
			<li><a href="#"><i class="material-icons">notifications</i></a></li>
		</ul>
	</div>
</nav>
