nav{
	padding-left: 10px;
	padding-right: 10px;
}

.centerall{
	margin: 0;
	text-align: center;
}

.notifications{
	padding-left: 300px;
}

.notifictext{
	padding: 0 !important;
}
.gveredict{
	bottom: 0;
	position: fixed;
	width: 100%;
	left: 0;
}
.userEvidence{
	margin: 3em auto;
	width: 50%;
}
.userImg{
	display: inline-block;
}
.userImg i{
	font-size: 3rem;
}
.userName{
	display: inline-block;
	vertical-align: bottom;
}
.evidencia{
	margin: auto;
	width: 50%;
}
.evidencia img{
	margin: auto;
}

.evidencia p{
	margin: 2em 0;
	font-size: 1.2em;
	font-weight: 400;
}
.defensa{
	margin: 1em 0 3em;
	border-bottom: gray 1px solid;
	border-top: gray 1px solid;
	display: inline-flex;
	width: 100%;
	padding: 2em 1em;
}
.defensa i{
	padding-right: 15px;
}
.header{
	background: #444;
	color: white;
	text-align: center;
	margin-top: 0px;
	padding: 32px;
}
.veredict{
	width: 70%;
	margin: -22px auto;
}
.veredict > .collection{
	margin-top: 0;
	margin-bottom: 2em;
	cursor: pointer;
}
.veredict > .collection a{
	color: black;
}
.margin-row{
	margin-right: 10px;
	margin-top: 10px;
}
/*	border: none;
}
.veredict > .collection > .collection-item{
	margin-bottom: 2em;
}*/
